.List {
  flex: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  margin-top: 1rem;
  border-radius: 7.5px;
  background-color: grey;
}

.List li {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 7.5px;
}

.List hr {
  margin-left: auto;
  margin-right: 0;
}
