.WorkPage {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.Project {
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* .Project > * {
    flex-grow: 1;
    flex-basis: 0;
} */

.Header {
    display: flex;
    gap: 0 1rem;
    justify-content: space-between;
}

.Context {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.Context > * {
    white-space: nowrap;
}

.Preview {
    display: flex;
}

.Navigation {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.NavGroup > *:first-child {
    margin-right: 1rem;
}

.ButtonActive {
    background-color: rgb(84, 84, 84);
    border: 2px solid transparent;
    border-radius: 3px;
    color: white;
}

.Asset {
    max-width: 100%;
    object-fit: scale-down;
    border-radius: 1rem;
}

.Asset.Desktop {
    max-width: 100%;
}

.Carousel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Innards {
    display: flex;
    align-items: flex-start;
    transition: transform 0.3s;
    border-radius: 1rem;
    justify-content: space-between;
}


/* Larger than mobile */
@media (min-width: 481px) {
    .Header {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    .Context {
        margin-bottom: 0;
    }
    .Project {
        flex-direction: row;
    }

    .Preview {
        padding-left: 5rem;
    }

    .Asset {
        max-width: 31.333%;
    }
}
