.App {
  height: 100%;
  display: flex;
  text-align: center;
  flex: 1;
}
input {
  font-family: inherit;
  -webkit-appearance: none; /* remove inset shadow on mobile safari */
}

.Content {
  /* height: 100%; */
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
}

.Left,
.Right {
  flex: 1;
  /* background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  ); */
  /* box-shadow: inset 0 0 10px #000000; */
}

.MainContent {
  /* box-shadow: 0 0 10px 6px black; */
  /* padding: 0 0.5rem; */
  margin: 0 5%;
  display: flex;
  flex: 6;
  flex-direction: column;
}

.Text {
  font-weight: 500;
  font-size: 2rem;
}

.HalfWidth {
  margin-right: 25%;
}
.AboutMe {
  margin-right: 5%;
  margin-bottom: 4rem;
}

.Contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.Contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Contacts > a:not(:last-child) {
  margin-right: 2rem;
}

.Contacts > a:hover,
a:focus {
  color: gray;
}

.Spacer {
  margin-bottom: 2rem;
}

.Job,
.Role {
  text-align: left;
  margin-bottom: 7.5%;
}

.FlexWrapper {
  display: flex;
  flex-direction:column;

}

.FlexWrapper > * {
  flex-grow: 1;
  flex-basis: 0;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .MainContent {
    margin: 0 7.5%;
  }
  .Content {
    margin-top: 3rem;
  }
  .AboutMe {
    margin-right: 15%;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .MainContent {
    margin: 0 15%;
  }
  .Content {
    margin-top: 5rem;
  }
  .AboutMe {
    margin-right: 25%;
  }
  .FlexWrapper {
    flex-direction: row;
  }
  .Contacts {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    margin-top: 1rem;
  }
  .Job, .Role {
    margin-bottom: 1.5%;
  }
}

.Gradient.Aux {
  /* 
    taken from: https://www.apple.com/homepod-mini/
    <p class="hero-callout typography-hero-callout text-gradient " style>​Room-filling sound.​</p>
   */
  background: -webkit-linear-gradient(90deg,rgba(126,69,255,1) 0%, rgba(169,134,254,1) 30%, rgba(171,132,252,1) 45%, rgba(156,132,224,1) 70%, rgba(144,67,255,1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Gradient.Notable {
  /* 
    taken from: https://www.apple.com/homepod-mini/
    <p class="hero-callout typography-hero-callout text-gradient " style>​Room-filling sound.​</p>
   */
  background: -webkit-linear-gradient(90deg,rgba(69,140,255,1) 0%, rgba(134,160,254,1) 30%, rgba(132,160,252,1) 45%, rgba(132,158,224,1) 70%, rgba(67,148,255,1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Gradient.Omada {
  /* 
    taken from: https://www.apple.com/homepod-mini/
    <p class="hero-callout typography-hero-callout text-gradient " style>​Room-filling sound.​</p>
   */
  background: -webkit-linear-gradient(90deg,rgba(255,133,69,1) 0%, rgba(254,155,134,1) 30%, rgba(252,147,132,1) 45%, rgba(224,157,132,1) 70%, rgba(255,138,67,1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
